{% extends "portal/layout.html.twig" %}


{% block content %}

<h3>Upload picture</h3>
<form action="#" method="post" id="frmPicture" name="frmPicture"  enctype="multipart/form-data" >
    <input type="file" accept="image/*" id="form_input_picture"/>
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <ul class="list-inline rotate">
                <li class="rleft"><i class="fa fa-undo" aria-hidden="true"></i></li>
                <li class="rright"><i class="fa fa-repeat" aria-hidden="true"></i></li>
            </ul>
            <div id="croppie"></div>
        </div>
    </div>
    <img id="test" />
    <div class="buttonbox">
        <button type="submit" class="btn btn-success submit-button">
            <i class="fa fa-server"></i>
            Upload
        </button>
        <a href="{{ path('portal_index') }}" class="btn btn-default" role="button">
            <i class="fa fa-arrow-left"></i>
            Back
        </a>
    </div>
</form>
{% endblock %}
