userbase:
    baseurl: http://localhost:8888
    title: My Site Name
    postfix: "*userbase.web"
    logourl: http://www.epifaniasolar.cl/images/member1.jpg
    salt: some_random_salt
    strings:
        - app/strings.yml
    layout: layout/default

pdo:
    dsn: mysql:host=localhost;dbname=userbase
    username: my_username
    password: my_password

herald:
    username: my_herald_username
    password: my_herald_password
    baseurl: my_herald_baseurl
    transport: my_herald_transport
    prefix: "my_herald_prefix/"

oauth2:
    return_url: '/oauth2/confirm'
    scopes: [email]
    services:
        twitter:
            clientId: <twitterClientId>
            clientSecret: <secret>
        facebook:
            clientId: <facebookClientId>
            secretSecret: <secret>
