{% extends "portal/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
<h1>Change Password</h1>

{% if error != null %}
    <div class="alert alert-{{ errorType }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-exclamation-circle"></i>
        {{ error }}
    </div>
{% endif %}

<form action="#" method="post" >
    {{ form_widget(form) }}

    <div class="buttonbox">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-server"></i>
            Save
        </button>
        <a href="{{ path('portal_index') }}" class="btn btn-default" role="button">
            <i class="fa fa-arrow-left"></i>
            Back
        </a>
        
    </div>
</form>
{% endblock %}
