debug: false
userbase:
    baseurl: http://localhost:8080
    title: My Site Name
    postfix: "*localhost"
    logourl: http://www.epifaniasolar.cl/images/member1.jpg
    salt: some_random_salt
    strings:
        - app/strings.yml
    theme: themes/default
    partition: dev
    enable_mobile: false

pdo:
    dsn: mysql:host=localhost;dbname=linkorb_sandbox_userbase_server
    username: root
    password: ""

herald:
    username: my_herald_username
    password: my_herald_password
    account: linkorb
    library: linkorb
    baseurl: my_herald_baseurl
    transport: my_herald_transport
    prefix: "my_herald_prefix/"

sms:
    provider: messagebird
    apikey: secret
    sender: "UserbaseDev"

oauth2:
    return_url: '/oauth2/confirm'
    scopes: [email]
    services:
        # Currently this caused error
        # twitter:
        #     clientId: <twitterClientId>
        #     clientSecret: <secret>
        facebook:
            clientId: <facebookClientId>
            secretSecret: <secret>

jwt_issuer:
    jwt_key_path: /path/to/jwt_key.rsa
    jwt_algorithm: ~
