{% extends "admin/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
<h1>Account Import</h1>

{% if error != null %}
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        {{ error }}
    </div>
{% endif %}

<form action="#" method="post" enctype="multipart/form-data">
    {{ form_widget(form) }}

    <div class="buttonbox">
        <a href="{{ path('admin_account_list') }}" class="btn btn-default" role="button">
            <i class="fa fa-arrow-left"></i>
            Back
        </a>

        <button type="submit" class="btn btn-success">
            <i class="fa fa-server"></i>
            Save
        </button>

    </div>
</form>
{% endblock %}
