{% extends "@PreAuth/layout.html.twig" %}

{% block content %}

<h1>{{ "password_reset_success.header"|trans }}</h1>
<p>{{ "password_reset_success.description"|trans }}</p>

<a href="{{ login_url }}" class="btn btn-success btn-lg">{{ "common.action_login"|trans }}</a><br />

{% endblock %}
